@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.container{
    max-width: 1138px;
    margin: 0 auto;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
}
ul,h1,h2,h3,h4,h5,h6,p,body{
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "Poppins";
}
.header{
    padding: 20px 0;
}
.header__logo{
    text-transform: uppercase;
}
a{
    text-decoration: none;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.header__list{
    margin-left: 28px;
}
.header__link{
    color: #22262A;
}
.header__content{
    justify-content: space-between;
    align-items: center;
}
.hero{
    background: url('./img/hero__bg.png') center no-repeat;
    background-size: cover;
    color: #22262A;
}
.hero__content{
    height: calc(100vh - 77px);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.hero__text{
    margin-right: 100px;
    margin-bottom: 100px;
}
.hero__suptitle,.hero__subtitle{
    font-size: 18px;
    font-weight: 500;
}
.hero__title{
    font-size: 80px;
}
.btn__black{
    padding: 4px 24px;
    background: #22262A;
    color: white;
    font-size: 18px;
    border-radius: 0;
    border: 2px solid #22262A;
    transition: 0.5s;
}
.btn__black:hover{
    background: transparent;
    color: #22262A;
}
.hero__btns{
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    max-width: 360px;
}
.gallery__bottom,.gallery__content,.fashion__sector{
    justify-content: space-between;
}
.gallery{
    margin-top: 121px;
}
.fashion{
    color: #22262A;
    margin-top: 114px;
}
.fashion__title{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.fashion__subtitle{
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    margin-top: 15px;
}
.fashion__img{
    max-width: 100%;
}
.fashion__sector{
    margin-top: 65px;
}
.fashion__name{
    font-weight: 300;
    font-size: 15px;
}
.fashion__mainname{
    font-weight: 600;
    font-size: 15px;
}
.fashion__price{
    font-size: 15px;
    color: red;
}
.fashion__price s{
    color: #22262A;
}
.fashion__box{
    padding: 0 5px;
    box-sizing: border-box;
    max-width: 268px;
}
.footer__text{
    font-size: 15px;
    color: #22262A;
    text-align: center;
}
.footer{
    margin-top: 110px;
    padding: 35px 0;
    background: #E7F5F8;
}